# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - terrak8s-practice-3-app

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'
      
      - name: Install & build
        working-directory: ./frontend
        run: |
          npm install
          npm run build

      - name: Prepare zip for SSR
        run: |
          rm -rf deploy
          mkdir -p deploy
          cp -r frontend/.next deploy/.next
          cp frontend/package.json deploy/
          cp -r frontend/public deploy/
          cp frontend/next.config.js deploy/ || true
          cp -r frontend/node_modules deploy/node_modules
          cd deploy && zip -r ../site.zip . 

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: ./site.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_638A764E48C944089CA3E25CD5FE6EC4 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_0E28DB9DED4F42AE927365978328EF4B }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7053B20A739949F1A6D4D2C20C5E4456 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'terrak8s-practice-3-app'
          slot-name: 'Production'
          package: ./site.zip